<div [formGroup]="clientForm">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
  
<h2 
    class="headline m-0"
    fxFlex="auto">New Client</h2>
    <button class="text-secondary"  mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

 

  <mat-dialog-content fxLayout="column">
    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="mt-6 flex-auto">
        <mat-label>ClientId</mat-label>
        <input cdkFocusInitial formControlName="clientId" matInput>
      </mat-form-field>

      <mat-form-field class="sm:mt-6 sm:ml-6 flex-auto">
        <mat-label>Client Secret</mat-label>
        <input cdkFocusInitial formControlName="clientSecret" matInput>
      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="mt-6 flex-auto">
        <mat-label>Refresh Token</mat-label>
        <input cdkFocusInitial formControlName="refreshToken" matInput>
      </mat-form-field>

      <mat-form-field class="sm:mt-6 sm:ml-6 flex-auto">
        <mat-label>Access Token</mat-label>
        <input cdkFocusInitial formControlName="accessToken" matInput>
      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="mt-6 flex-auto">
        <mat-label>ExpiresIn</mat-label>
        <input cdkFocusInitial formControlName="expiresIn" matInput>
      </mat-form-field>

      <mat-form-field class="sm:mt-6 sm:ml-6 flex-auto">
        <mat-label>Token Type</mat-label>
        <input cdkFocusInitial formControlName="tokenType" matInput>
      </mat-form-field>
    </div>


    <mat-form-field class="mt-6 flex-auto">
      <mat-label>Refresh Token ExpiresIn</mat-label>
      <input cdkFocusInitial formControlName="refreshTokenExpiresIn" matInput>
    </mat-form-field>


    <!-- <div class="flex flex-col sm:flex-row">
      <mat-form-field class="mt-6 flex-auto">
        <mat-label>Created Date</mat-label>
        <input matInput formControlName="createdDate" [matDatepicker]="picker1" required />
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error *ngFor="let validation of validationMessages.createdDate">
          <mat-error class="error-message" *ngIf="
                  clientForm.get('createdDate').hasError(validation.type) &&
                  (clientForm.get('createdDate').dirty ||
                    clientForm.get('createdDate').touched)
                ">
            {{ validation.message }}
          </mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="sm:mt-6 sm:ml-6 flex-auto">
        <mat-label>Updated Date</mat-label>
        <input matInput formControlName="updatedDate" [matDatepicker]="picker2" required />
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-error *ngFor="let validation of validationMessages.updatedDate">
          <mat-error class="error-message" *ngIf="
                  clientForm.get('updatedDate').hasError(validation.type) &&
                  (clientForm.get('updatedDate').dirty ||
                    clientForm.get('updatedDate').touched)
                ">
            {{ validation.message }}
          </mat-error>
        </mat-error>
      </mat-form-field>
    </div> -->


  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button color="primary" mat-button (click)="createClient()">Save Client</button>
  </mat-dialog-actions>
</div>

