<div  fxLayout="column" fxLayoutAlign="center center">
  <br>
  <div @fadeInUp class="card overflow-hidden w-full max-w-xs">

    <div class="text-center mt-1">
      <h2 class="title m-0">Notify Sync</h2>
    </div>
    <div [formGroup]="notifysyncForm" class="p-6" fxLayout="column" fxLayoutGap="0px">
      <div fxFlex="auto" fxLayout="column">
        <mat-form-field fxFlex="grow">
          <mat-label>Seller Id</mat-label>
          <input formControlName="id" matInput required>
        </mat-form-field>
        <mat-form-field fxFlex="grow">
          <mat-label>Collection Id</mat-label>
          <input formControlName="collectionId" matInput>
        </mat-form-field>
        <mat-form-field fxFlex="grow">
          <mat-label>PlatForm Id</mat-label>
          <input formControlName="platformId" matInput>
        </mat-form-field>
      </div>
      <button color="primary" (click)="saveSync()" mat-raised-button type="button">
        Sync
      </button>
    </div>
  </div>
</div>

