.background-color{
    background-color: #fff;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

.head{
    background-color: #fff;
    padding: 10px;
    title{
        span{
            font-size: 16px;
            color:#000;
        }
    }
}

.bgcolor{
    background-color: #fff;
}

.padding10{
    padding: 10px;
}

.cards {
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
    padding: 5px;
}