<vex-page-layout>

  <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
    <div
         class="w-full flex flex-col sm:flex-row justify-between">
      <div>
        <h1 class="title mt-0 mb-1">Client Details</h1>
      </div>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content class="-mt-6">

    <div class="card overflow-auto -mt-16">
      <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">

        <div class="bg-card rounded-full border px-4" fxFlex="400px" fxFlex.lt-md="auto" fxHide.xs fxLayout="row"
          fxLayoutAlign="start center">
          <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
          <input  class="px-4 py-3 border-0 outline-none w-full bg-transparent"
            placeholder="Search..." type="search">
        </div>

        <span fxFlex></span>

        <button class="ml-4" fxFlex="none" fxHide.gt-xs mat-icon-button type="button">
          <mat-icon [icIcon]="icSearch"></mat-icon>
        </button>

        <button [matMenuTriggerFor]="columnFilterMenu" class="ml-4" fxFlex="none" mat-icon-button
          matTooltip="Filter Columns" type="button">
          <mat-icon [icIcon]="icFilterList"></mat-icon>
        </button>


        <button (click)="createCustomer()"
                class="ml-4"
                color="primary"
                fxFlex="none"
                mat-mini-fab
                matTooltip="Add Customer"
                type="button">
          <mat-icon [icIcon]="icAdd"></mat-icon>
        </button>
      </div>

      <table @stagger [dataSource]="clientList" class="w-full" mat-table matSort (matSortChange)="sortData($event)">

        <!-- Image Column -->
        <ng-container matColumnDef="image">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
            <img [src]="row['imageSrc']" class="avatar h-8 w-8 align-middle">
          </td>
        </ng-container>

        <!-- Text Columns -->
        <ng-container *ngFor="let column of columns;">
          <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.name }}</th>
            <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property] }}</td>
          </ng-container>
        </ng-container>
        <ng-container matColumnDef="clientSecret">
          <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Client Secret</th>
          <td *matCellDef="let row" mat-cell>
            {{row.clientSecret | slice:0:10}}
          </td>
        </ng-container>
        <ng-container matColumnDef="refreshToken">
          <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Refresh Token</th>
          <td *matCellDef="let row" mat-cell>
            {{row.refreshToken | slice:0:10}}
          </td>
        </ng-container>
        <ng-container matColumnDef="accessToken">
          <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Access Token</th>
          <td *matCellDef="let row" mat-cell>
            {{row.accessToken | slice:0:10}}
          </td>
        </ng-container>
        <ng-container matColumnDef="createdDate">
          <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Created Date</th>
          <td *matCellDef="let row" mat-cell>
            {{row.createdDate | date }}
          </td>
        </ng-container>
        <ng-container matColumnDef="updatedDate">
          <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Updated Date</th>
          <td *matCellDef="let row" mat-cell>
            {{row.updatedDate | date }}
          </td>
        </ng-container>
        <!-- Contact Column -->
        <ng-container matColumnDef="contact">
          <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
          <td *matCellDef="let row" mat-cell>
            <div class="flex">
              <a (click)="$event.stopPropagation()"
                class="w-8 h-8 leading-none flex items-center justify-center hover:bg-hover text-primary bg-primary-light"
                mat-icon-button>
                <mat-icon [icIcon]="icPhone" size="18px"></mat-icon>
              </a>

              <a (click)="$event.stopPropagation()"
                class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover text-teal bg-teal-light"
                mat-icon-button>
                <mat-icon [icIcon]="icMail" size="18px"></mat-icon>
              </a>

              <a (click)="$event.stopPropagation()"
                class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover text-green bg-green-light"
                mat-icon-button>
                <mat-icon [icIcon]="icMap" size="18px"></mat-icon>
              </a>
            </div>
          </td>
        </ng-container>

        <!-- Label Column -->
        <ng-container matColumnDef="labels">
          <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Labels</th>
          <td *matCellDef="let row" mat-cell>
            <div (click)="$event.stopPropagation()" fxLayoutAlign="start center" fxLayoutGap="4px">
              <div *ngFor="let label of row.labels" [ngClass]="[label.textClass, label.bgClass]"
                class="rounded px-2 py-1 font-medium text-xs" fxFlex="none">
                {{ label.text }}
              </div>
              <div class="text-secondary bg-base text-hint cursor-pointer hover:bg-hover" fxFlex="none" fxLayout="row"
                fxLayoutAlign="center center">
                <ic-icon [icon]="icAdd" size="18px"></ic-icon>
              </div>

            </div>
          </td>
        </ng-container>


        <ng-container matColumnDef="actions">
          <mat-header-cell class="actions-cell" *matHeaderCellDef>Action</mat-header-cell>
          <mat-cell class="actions-cell" *matCellDef="let row">
            <button type="button" mat-icon-button [matMenuTriggerFor]="actionsMenu"
              (click)="$event.stopPropagation()">
              <mat-icon [icIcon]="icEdit"></mat-icon>
            </button>
            <mat-menu #actionsMenu="matMenu" yPosition="below" xPosition="before">
              <button  (click)="editClientId(row.id)" mat-menu-item>
                <mat-icon [icIcon]="icEdit"></mat-icon>
                <span>edit</span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: visibleColumns;" @fadeInUp
          class="hover:bg-hover trans-ease-out cursor-pointer" mat-row></tr>
      </table>
      <ng-container *ngIf="!clientList">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
          <span>Loading</span>
          <mat-spinner [diameter]="30"></mat-spinner>
        </div>
      </ng-container>
      <div fxLayoutAlign="center center" *ngIf="clientList?.length == 0">No records
        found</div>
      <mat-paginator (page)="getUpdate($event)" showFirstLastButtons [length]="pageList" [pageIndex]="page"
        [pageSize]="size" [pageSizeOptions]="pageSizeValue"> </mat-paginator>


    </div>

  </vex-page-layout-content>

</vex-page-layout>
<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
  <button *ngFor="let column of columns" class="checkbox-item mat-menu-item">
    <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
      {{ column.name }}
    </mat-checkbox>
  </button>
</mat-menu>

 <!-- <mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-row="row" matMenuContent>
    <button  mat-menu-item>
      <mat-icon [icIcon]="icEdit"></mat-icon>
      <span>Modify</span>
    </button>
  </ng-template>
</mat-menu>  -->


