<div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutGap="10px">
        <mat-icon class="warning">warning</mat-icon>
        <span>{{data}}</span>
    </div>

<button (click)="snackBarRef.dismiss()" mat-icon-button><mat-icon>close</mat-icon></button>
</div>
